.font-color{
    color: #BF006A;
  }
.bg-color{
    background-color:  #BF006A;
  }
  .sizing-img{
    width: 50px;
  }

  .admin-login{
    background-color: rgb(240, 238, 236);
  }
  .google-img{
    width: 30px;
    border:none;
    border-radius: 20px;
  }